<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116293257588-kpqoua2im2vq03ugc5omtm0njmqqlv38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116293257588-kpqoua2im2vq03ugc5omtm0njmqqlv38</string>
	<key>API_KEY</key>
	<string>AIzaSyC-gS_g7Sa78A2XJ07pW4qXOuJAxaohcO0</string>
	<key>GCM_SENDER_ID</key>
	<string>116293257588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobjet</string>
	<key>PROJECT_ID</key>
	<string>jobjet-54fa5</string>
	<key>STORAGE_BUCKET</key>
	<string>jobjet-54fa5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116293257588:ios:311f44cbb2b829ad6fc421</string>
</dict>
</plist>